// Header Styles

.title {
    background-image: url(https://wallpapercave.com/uwp/uwp122095.gif);
    height: 110%;
    border-radius: 15px;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
}

.title h1{
    color: black;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: normal;
    margin-top: 0px;
    padding: 15px;
  }
  .title h2, .title p{
    text-align: center;
  }
  .title h2{
    margin-top: 85px;
    margin-bottom: 0px;
    font-size: 5rem;
    color: var(--secondary);
  }
  
  .title p {
    font-family: 'Open Sans', sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.2rem;
    font-style: italic;
  }

  .title img {
    height: 250px;
    border-radius: 12px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  // Animations

  .title h1:hover {
    color: white;
    transform: scale(1.05);
    transition: all 0.40s
  }

  .title h2:hover {
    color: white;
    transform: scale(1.05);
    transition: all .40s
  }

  .title p:hover {
    color: white;
    transform: scale(1.05);
    transition: all 0.40s
  }

.title img:hover {
  transform: scale(1.2);
  transition: all 0.35s
}