// Upload button styles

.fileUploadButton{
    color: black
}



/* progress bar styles */

.progress-bar{
    height: 5px;
    background: var(--primary);
    margin-top: 20px;
    margin-bottom: 20px;
}