// Upload Button Styles

.fileUploadButton {
    display: block;
    width: 110px;
    height: 35px;
    border: 5px solid #eeaeca;
    background-color: #eeaeca;
    border-radius: 5%;
    margin: 10px auto;
    line-height: 30px;
    color: var(--primary);
    font-weight: bold;
    font-size: 24px;    
  }

  input {
    border: none
  }