// Upload Button Styles


input[type="file"] {
  display: none;
}

form {
  margin-top: 50px;
}


.fileUploadButton {
    display: block;
    width: 315px;
    height: 72px;
    padding: 5px;
    background: #e4bff2;
    border-radius: 10px;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
    border: 2px solid white;
    margin: 10px auto;
    line-height: 30px;
    font-weight: bold;
    font-size: 1.2rem;    
}

.fileUploadButton:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.35s;
  color: white;
}